

footer {
	
	background-color: #E5D0CC;
	font-family: 'Nunito Sans', sans-serif;
	  text-align: center;
	  p.round1 
		border: 2px #E5D0CC;
		border-radius: 8px;

	
}

form { text-align: center; 
		font-family: 'Halant', serif; 
		
}


.container-fluid
		{ font-family: 'Nunito Sans', sans-serif;
		background-color: #E5D0CC;
		text-align: center;
		p.round1 
		border: 2px #E5D0CC;
		border-radius: 8px;
		
}

p { text-align:center;
font-family: 'Halant', serif;
	  margin-top: 100px;
	  margin-bottom: 100px;
	  margin-right: 150px;
	  margin-left: 80px;

} 
.img-container {
        text-align: center;
        display: block;
      }

li { 
text-align:center;
} 

h2,h3,h4 { 
text-align:center;
} 

